<li class="side-menu__item side-menu__item--active">
	<button class="side-menu__item-button">categories</button>

	<div class="items-box">
		<div class="groups-list">
			<button class="groups-list__item">All Contacts</button>
			<button class="groups-list__item" *ngFor="let cat of categories" routerLink="">{{cat}}</button>
		</div>
	</div>
</li>

<li class="side-menu__item">
	<button class="side-menu__item-button">upcoming birthday</button>

	<div class="items-box">
		<div class="bdays-list">
			<button class="bdays-list__item">
				<div class="bdays-list__item-wrapper">
					<span class="bdays-list__item-name">Warhol Andy</span>
					<span class="bdays-list__item-age">29 years</span>
				</div>
				<div class="bdays-list__item-date">20.05.2018</div>
			</button>
		</div>
	</div>
</li>
