@mixin dotsMenu($color, $hoverColor) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $indL;
	color: $color;
	transition: color $mainTransition;

	&:hover,
	&:focus {
		color: $hoverColor;
	}

	svg {
		width: $indS;
	}
}

@mixin truncate($max-width) {
	max-width: $max-width;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@mixin userCard {
	display: flex;

	&__avatar {
		flex-shrink: 0;
		width: $indXL;
		height: $indXL;
		border: 1px solid $sidebarTextClr;
		border-radius: 50%;
		background: center/100% no-repeat;
		background-image: url(https://upload.wikimedia.org/wikipedia/ru/thumb/9/95/Warhol-Campbell_Soup-1-screenprint-1968.jpg/150px-Warhol-Campbell_Soup-1-screenprint-1968.jpg);
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		align-items: flex-start;
		margin-left: $indS;
		overflow: hidden;
	}

	&__name {
		@include truncate(100%);
		white-space: nowrap;
	}
}

@mixin mobileBtn($color, $hoverColor) {
	display: none;

	@media (max-width: 767px) {
		display: flex;
		transition: color $mainTransition;
		color: $color;
		cursor: pointer;

		&:hover,
		&:focus {
			color: $hoverColor;
		}

		svg {
			width: $indM;
			height: $indM;
		}
	}
}

@mixin contactCardColumn($count) {
	width: calc((100% + #{$indM}) / #{$count} - #{$indM});
	max-width: calc((100% + #{$indM}) / #{$count} - #{$indM});

	@media (max-width: 1024px) {
		width: calc((100% + #{$indS}) / #{$count} - #{$indS});
		max-width: calc((100% + #{$indS}) / #{$count} - #{$indS});
	}
}

@mixin formInputStyle($size: 1) {
	width: 100% / $size;
	--box-shadow-color: rgba(48, 54, 80, .2);
	border: 1px solid #999999;
	box-shadow: inset 0 0 10px 0 var(--box-shadow-color);
	transition: $mainTransition;

	&:focus {
		--box-shadow-color: rgba(16, 177, 223, 1);
		border-color: rgba(16, 177, 223, 1);
	}
}

@mixin formButtonStyle($bgColor, $color, $border: false) {
	border: 1px solid transparent;
	background: $bgColor;
	color: $color;

	@if $border {
		border-color: $color;
	}

	&:hover {
		background: $color;
		color: $bgColor;

		@if $border == false {
			border-color: $bgColor;
		}
	}
}

@mixin labelColumn {
	flex-direction: column;
	align-items: flex-start;

	.contact-form__label-text {
		line-height: 1;
		text-align: left;
		margin-bottom: $indXS;
	}
}

@mixin plusIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $indM;
	height: $indM;
	border-radius: 50%;
	background: #10B1DF;
	color: $clrWhite;

	svg {
		width: $indS;
		height: $indS;
	}
}