<section class="contact-view">
	<section class="contact-view__wrapper">
		<button class="contact-view__close-button">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42">
				<path fill="currentColor" d="M42 20H22V0h-2v20H0v2h20v20h2V22h20z"/>
			</svg>
		</button>
	</section>

	<section class="contact-view__fields-box">
		<section class="contact-view__main-info">
			<div class="contact-view__avatar"></div>

			<section class="contact-view__fields-wrapper">
				<section class="contact-view__name-wrapper">
					<span class="contact-view__name">Name </span>
					<span class="contact-view__name">Surname</span>
				</section>
				<div class="contact-view__description">Description</div>
			</section>
		</section>

		<div class="contact-view__field">
			<span class="contact-view__field-name">Phone</span>
			<span class="contact-view__field-text">099 99 99 99</span>
		</div>
	</section>
</section>
